*{margin: 0;}

footer{
    width: 100%;
    height: 180px;
    background: linear-gradient(98.82deg, rgba(82, 255, 89, 0.2) 31.43%, rgba(0, 219, 9, 0) 56.72%), linear-gradient(247.57deg, rgba(133, 255, 145, 0.18) 32.71%, rgba(55, 214, 119, 0) 64.61%), #002500;
    margin-top: auto;
}
a{
    text-decoration: none;
    color: #ffff;
}
.contato{
    display: inline-block;
    width: 530px;
    height: 130px;
    margin-left: 230px;
    color: #ffff;
}
.contato .text-contato{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}
.mails{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.mails p{
    padding: 5px;
}

.social{
    text-align: center;
    color: #ffff;
    float: right;
    margin: 20px 80px;
}
.social .text-social{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.instagram, .site{
    display: inline-block;
    padding: 20px;
    font-family:cursive;
}
.instagram:hover{
    transform: scale(1.1);
    text-decoration: underline;
}
.site:hover{
    transform: scale(1.1);
    text-decoration: underline;
}
.social a:hover{
    color: rgb(223, 223, 223);
}